* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 10px;
    background: transparent;
    z-index: 999;;
}

header button {
    padding: 20px 30px;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    background: #7fa99b;
    border: none;
}

header button:hover {
    background: #f0ece2;
}

main {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.container1 {
    background-color: white;
    width: 100%;
    height: 100%;
}

.container2 {
    background-color: rgb(146, 139, 139);
    width: 100%;
    height: 100%;
}

.container3 {
    background-color: #ff847c;
    width: 100%;
    height: 100%;
}

.container4 {
    background-color: rgb(187, 228, 223);
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}

.unable {
    display: none;
}

#subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%, 10%);
    font-size: 60px;
    white-space: nowrap;
    border-top: 3px solid black;
}

#subtitle::before {
    content: 'Good Vibes';
    position: absolute;
    bottom: -40px;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    width: 100%;
}

footer {
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px 30px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: rgb(83, 31, 31);
}